@import url("../node_modules/estilos-lojas-cem/dist/typography/typography2.css");
@import url("./assets/table.css");
@import url("./assets/picker.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

*::-webkit-scrollbar-track {
  background: #00192830;
  height: 80%;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid #3371ab;
  border-radius: 500px;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #aeaeae;
  /* border-radius: 5px; */
  display: inline-block;
  position: relative;
}
