@import url("./assets/picker.css");
@tailwind utilities;

.react-datepicker {
  font-family: "Roboto", "Open sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  border: 1px solid #aeaeae;
  /* border-radius: 5px; */
  display: inline-block;
  position: relative;
}
